.leftside{
    /* position: absolute; */
    float: left;
    text-align: center;
    width: 20%;
    height: 755px;
    background-color:rgb(33, 37, 41);
    position: sticky;
    top: 0;
}
.photo{
    margin-top: 60px;
    width: 220px;
    height: 210px;
    border-radius: 130px;
}
.button{
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 40px;
    border-radius:30px;
    transition: 0.5s;
}
.button:hover{
    transform: scale(1.2);
    z-index: 2;
}
.a{
    color: aliceblue;
    text-decoration: none;
}
.right{
    /* position: relative; */
    padding-bottom: 30px;
    float: left;
    width: 80%;
    height: 100%;
    background-color: rgb(31, 37, 41);
}
.home{
    margin-bottom: 300px;
    padding-top: 40px;
    margin-top: 200px;
    margin-left: 140px;
    width: 950px;
    height: 450px;
    text-align: center;
    background-color: rgb(20, 20, 20);
}
.about{
    padding-right: 30px;
    padding-top: 40px;
    /* margin-top: 100px; */
    margin-left:240px;
    width: 500px;
    height: 400px;
    text-align: justify;
    background-color: rgb(20, 20, 20);
}
.aboutmain{
    margin-left:140px;
    width: 950px;
    height: 450px;
    background-color: rgb(20, 20, 20);
}
.education{
    padding-left: 40px;
    padding-top: 40px;
    margin-top: 300px;
    margin-left: 140px;
    width: 950px;
    height: 900px;
    text-align: center;
    background-color: rgb(20, 20, 20);
}
.portfolio{
    padding-top: 40px;
    margin-top: 300px;
    margin-left: 140px;
    width: 950px;
    height: 1000px;
    text-align: center;
    background-color: rgb(20, 20, 20);
}
.contact{
    padding-left: 20px;
    padding-top: 40px;
    margin-top: 300px;
    margin-left: 140px;
    width: 950px;
    height: 750px;
    text-align: center;
    background-color: rgb(20, 20, 20);
}
/* .right2{
    padding-bottom: 40px;
    padding-top: 300px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
} */
#details{
    margin-left: 170px;
    background-color: rgb(20, 20, 20);
    width: 600px;
    text-align: justify;
}
.subedu{
    text-align: justify;
    margin-top: 50px;
    float: left;
    margin-left: 50px;
    width: 219px;
    height: 300px;
    background-color: rgb(20, 20, 20);
    border-color: chartreuse;
}
.subport{
    text-align: justify;
    margin-top: 50px;
    float: left;
    margin-left: 40px;
    width: 260px;
    height: 334px;
    background-color: rgb(20, 20, 20);
    border-color: chartreuse;
    transition: 0.5s;
}
.subport:hover{
    transform: scale(1.2);
    z-index: 2;
}
img{
    width: 255px;
    height: 280px; 
}
.butport{
    border: none;
    width:255px ;
    background-color: rgb(221, 255, 0);
}
.contact1{
    color: azure;
    margin-left: 40px;
    margin-top: 130px;
    float: left;
    text-align: justify;
    width: 300px;
    height: 300px;
    background-color: rgb(20, 20, 20);
}
.contact2{
    margin-top: 40px;
    padding-top: 30px;
    margin-left: 20px;
    float: left;
    text-align: justify;
    width: 500px;
    height:530px;
    background-color: rgb(20, 20, 20);
}
input{
    width: 500px;
    height:40px ;
}
textarea{
    width: 500px;
    height: 200px;
}
#send{
    width: 140px;
    border-radius: 30px;
    height: 40px;
}
#footer{
    margin-left: 304px;
    width: 80%;
}
#resume{
    border-radius: 40px;
    height: 100px;
    height: 40px;
    background-color: rgb(0, 157, 255);
}
